@{
    ViewData["Title"] = "Summary";
}

@model UtahCrashesCracked.Models.Crash;

<div class="row text-center">
    <h3 class="mt-4">Summary : Crash #@Model.crash_id</h3>
</div>

<row class="row text-center">

    <div class="col m-4">
        <table class="table table-bordered table-striped">

            @*ROW1*@
            <tr>
                <th>Day and Time</th>
                <th>Route Number</th>
                <th>Route Name</th>
                <th>Mile Point</th>
                <th>Crash Severity ID</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>

            <tr>
                <td>@Model.crash_datetime.ToString("MMMM d, yyyy – @h:mm tt")</td>
                <td>@Model.route</td>
                <td>@Model.main_road_name</td>
                <td>@Model.milepoint</td>
                <td>@Model.crash_severity_id</td>
                <td>@Model.lat_utm_y</td>
                <td>@Model.long_utm_x</td>
            </tr>

            <tr>
                <td colspan="10"></td>
            </tr>

            @*ROW2*@
            <tr>
                <th>City</th>
                <th>County</th>
                <th>Work Zone Related</th>
                <th>Pedestrian Involved</th>
                <th>Bicyclist Involved</th>
                <th>Motorcycle Involved</th>
                <th>Improper Restraint</th>
            </tr>

            <tr>
                <td>@Model.city</td>
                <td>@Model.county_name</td>
                <td>@Model.work_zone_related</td>
                <td>@Model.pedestrian_involved</td>
                <td>@Model.bicyclist_involved</td>
                <td>@Model.motorcycle_involved</td>
                <td>@Model.improper_restraint</td>
            </tr>

            <tr>
                <td colspan="10"></td>
            </tr>

            @*ROW3*@
            <tr>
                <th>Unrestrained</th>
                <th>DUI</th>
                <th>Intersection Related</th>
                <th>Wild Animal Related</th>
                <th>Domestic Animal Related</th>
                <th>Drowsy Driving</th>
                <th>Roadway Departure</th>
            </tr>

            <tr>
                <td>@Model.unrestrained</td>
                <td>@Model.dui</td>
                <td>@Model.intersection_related</td>
                <td>@Model.wild_animal_related</td>
                <td>@Model.domestic_animal_related</td>
                <td>@Model.drowsy_driving</td>
                <td>@Model.roadway_departure</td>
            </tr>

            <tr>
                <td colspan="10"></td>
            </tr>

            @*ROW4*@
            <tr>
                <th>Overturn or Rollover</th>
                <th>Commercial Motor Vehicle Involved</th>
                <th>Teenage Driver Involved</th>
                <th>Older Driver Involved</th>
                <th>Night/Dark Condition</th>
                <th>Single Vehicle</th>
                <th>Distracted Driving</th>
            </tr>

            <tr>
                <td>@Model.overturn_rollover</td>
                <td>@Model.commercial_motor_veh_involved</td>
                <td>@Model.teenage_driver_involved</td>
                <td>@Model.older_driver_involved</td>
                <td>@Model.night_dark_condition</td>
                <td>@Model.single_vehicle</td>
                <td>@Model.distracted_driving</td>

            </tr>

        </table>
    </div>

</row>

<row class="mx-4">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Crashes">Back</a>
    <a class="btn btn-outline-secondary" asp-controller="home" asp-action="Edit" asp-route-crashid="@Model.crash_id">Edit</a>
    <a class="btn btn-outline-secondary" asp-controller="home" asp-action="Delete" asp-route-crashid="@Model.crash_id">Delete</a>
</row>