@{
}

@model Crash

@if (Model.crash_datetime != null)
{
    <tr>
        <td>@Model.crash_datetime</td>
        <td>@Model.county_name</td>
        <td>@Model.city</td>
        <td>@Model.route</td>
        <td>@Model.crash_severity_id</td>
    </tr>
}
