@{
}

@model Crash

@if (Model.crash_datetime != null)
{
<tr>
    <td>@Model.crash_datetime.Date.ToString("MMMM d, yyyy")</td>
    <td>@Model.crash_datetime.ToString("h:mm tt")</td>
    <td>@Model.county_name</td>
    <td>@Model.city</td>
    <td>@Model.main_road_name</td>
    <td>@Model.crash_severity_id</td>

    <td class="text-center"><a class="btn btn-sm btn-primary text-dark" asp-controller="home" asp-action="Summary" asp-route-crashid="@Model.crash_id">Summary</a></td>

    @if (new string[] { "RootBeer", "TAUser"}.Contains(this.User.Identity.Name))
    {
        <td class="text-center"><a class="btn btn-sm btn-outline-primary text-dark" asp-controller="home" asp-action="Edit" asp-route-crashid="@Model.crash_id">Edit</a></td>
        <td class="text-center"><a class="btn btn-sm btn-outline-dark" asp-controller="home" asp-action="Delete" asp-route-crashid="@Model.crash_id">Delete</a></td>
    }
</tr>
}
